In [ ]:
import pandas as pd
df=pd.read_csv('/content/heart_failure_clinical_records_dataset.csv')
df

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

In [ ]:
df.isna().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [ ]:
df.dtypes

age                         float64
anaemia                       int64
creatinine_phosphokinase      int64
diabetes                      int64
ejection_fraction             int64
high_blood_pressure           int64
platelets                   float64
serum_creatinine            float64
serum_sodium                  int64
sex                           int64
smoking                       int64
time                          int64
DEATH_EVENT                   int64
dtype: object

In [ ]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [ ]:
from sklearn.preprocessing import StandardScaler
sd=StandardScaler()
X_new=sd.fit_transform(X)
X_new

array([[ 1.19294523e+00, -8.71104775e-01,  1.65728387e-04, ...,
         7.35688190e-01, -6.87681906e-01, -1.62950241e+00],
       [-4.91279276e-01, -8.71104775e-01,  7.51463953e+00, ...,
         7.35688190e-01, -6.87681906e-01, -1.60369074e+00],
       [ 3.50832977e-01, -8.71104775e-01, -4.49938761e-01, ...,
         7.35688190e-01,  1.45416070e+00, -1.59078490e+00],
       ...,
       [-1.33339153e+00, -8.71104775e-01,  1.52597865e+00, ...,
        -1.35927151e+00, -6.87681906e-01,  1.90669738e+00],
       [-1.33339153e+00, -8.71104775e-01,  1.89039811e+00, ...,
         7.35688190e-01,  1.45416070e+00,  1.93250906e+00],
       [-9.12335403e-01, -8.71104775e-01, -3.98321274e-01, ...,
         7.35688190e-01,  1.45416070e+00,  1.99703825e+00]])

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X_new,y,test_size=0.3,random_state=5)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()
knn.fit(X_train,y_train)
y_pred=knn.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.74      0.97      0.84        62
           1       0.78      0.25      0.38        28

    accuracy                           0.74        90
   macro avg       0.76      0.61      0.61        90
weighted avg       0.75      0.74      0.70        90

In [ ]:
df['DEATH_EVENT'].value_counts()#to get the count of unique values in the column 'DEATH_EVENT'

0    203
1     96
Name: DEATH_EVENT, dtype: int64

Imbalanced data set can be treated either by oversampling or undersampling


in oversampling the minority class number is increased to the number of majority class and in undersampling the majority class numberis decreased to minorty class

in the above example 0is the majority class and 1 is the minority class

for this we import some function


from imblearn.over_sampling import SMOTE


SMOTE-synthetic minority oversampling technique

**OVERSAMPLING**

In [ ]:
from imblearn.over_sampling import SMOTE
over=SMOTE(random_state=2) #initializes smote object.every time you run the code, you'll get the same synthetic samples, which is important for consistency in experiments and results
X_os,y_os=over.fit_resample(X_new,y)
#SMOTE stands for Synthetic Minority Over-sampling Technique, 
#which is a popular method to oversample the minority class in imbalanced datasets by generating synthetic examples

In [ ]:
#fit_resample() function:
#Analyzes the original dataset: It checks the distribution of the classes and identifies the minority class.
#Generates synthetic samples for the minority class (i.e., creating new data points that are combinations of existing data points of the minority class).
#Returns two outputs:
#X_os: The resampled feature set, which now contains both the original features and the synthetic features for the minority class.
#y_os: The resampled target labels, which also reflect the additional synthetic samples for the minority class.

In [ ]:
y_os.value_counts()

1    203
0    203
Name: DEATH_EVENT, dtype: int64

In [ ]:
from collections import Counter
print(Counter(y_os))

Counter({1: 203, 0: 203})

In [ ]:
X_trainos,X_testos,y_trainos,y_testos=train_test_split(X_os,y_os,test_size=0.3,random_state=5)

In [ ]:
knnos=KNeighborsClassifier(n_neighbors=5)
knnos.fit(X_trainos,y_trainos)
y_predos=knnos.predict(X_testos)
y_predos

array([0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0])

In [ ]:
print(classification_report(y_testos,y_predos))

              precision    recall  f1-score   support

           0       0.85      0.73      0.79        64
           1       0.75      0.86      0.80        58

    accuracy                           0.80       122
   macro avg       0.80      0.80      0.79       122
weighted avg       0.80      0.80      0.79       122

**UNDERSAMPLING**

In [ ]:
from imblearn.under_sampling import RandomUnderSampler
under=RandomUnderSampler(random_state=2)
X_us,y_us=under.fit_resample(X_new,y)

In [ ]:
y_us.value_counts()

0    96
1    96
Name: DEATH_EVENT, dtype: int64

In [ ]:
X_trainus,X_testus,y_trainus,y_testus=train_test_split(X_us,y_us,test_size=0.3,random_state=2)

In [ ]:
knnus=KNeighborsClassifier(n_neighbors=5)
knnus.fit(X_trainus,y_trainus)
y_predus=knnus.predict(X_testus)
y_predus

array([0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1])

In [ ]:
print(classification_report(y_predus,y_testus))

              precision    recall  f1-score   support

           0       0.67      0.67      0.67        30
           1       0.64      0.64      0.64        28

    accuracy                           0.66        58
   macro avg       0.65      0.65      0.65        58
weighted avg       0.66      0.66      0.66        58